Enter the Excel Password below (in quotations), And then press the >> symbol above. finally press restart and run all cells.

In [ ]:
Password = "replaceThisText"

In [ ]:
pip install pandas

In [ ]:
pip install msoffcrypto-tool

In [ ]:
pip install openpyxl

In [6]:
import pandas as pd
import msoffcrypto 
import io 

file = msoffcrypto.OfficeFile(open("testdairydata.xlsx", "rb"))

file.load_key(password="password") # Use password

decrypted = io.BytesIO() 
file.decrypt(decrypted)

df = pd.read_excel(decrypted)

In [7]:
df

,Location,Material,Category,SubCategory,Username,Analysis Date/Time,Analysis ID,Sample ID,Comments,"IgG, As-Is %","Moisture, %","IgG, Dry Base %",Dairy Name,Cow Herd,Region,Unnamed: 15
0,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,07/19/2021 16:38,AZ41768704,V6725,NaN,0.17,88.44,1.47,West Side Jersey's or Neil Souza,1100,Ripon,1617.0
1,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,07/19/2021 14:15,AZ30038704,V4280,NaN,0.25,84.97,1.66,BARLASS JERSEYS LLC,400,WI,664.0
2,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-07 12:11:00,AZ42790983,V4595,NaN,0.36,81.78,1.98,DEN-K HOLSTEINS,350,Ripon,693.0
3,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-06 13:25:00,AZ31718883,V6605,NaN,0.45,77.62,2.01,Norman W Zimmerman Jr.,400,NY,804.0
4,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-06 13:52:00,AZ50628883,V6922,NaN,0.61,70.33,2.06,Jason Hoover,300,NY,618.0
5,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-10 11:58:00,AZ53248983,V4535,NaN,0.39,81.51,2.11,DairyLain Dairy,600,ID,1266.0
6,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-28 16:54:00,AZ49667493,V7907,NaN,0.43,79.65,2.11,H & H dairy,2400,ID,5064.0
7,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-05-12 07:53:00,AZ35354093,V5807,NaN,0.39,82.11,2.18,TLK DAIRY INC.,10000,ID,21800.0
8,"Phoenix, AZ",Colostrum,Whole,Any,adp@pantheryx,2021-04-07 07:31:00,AZ51412183,V5920,NaN,0.32,85.39,2.19,VOEGELI FARMS INC,250,WI,547.5




sg.theme("DarkTeal2")
layout = [[sg.T("")], [sg.Text("Choose a file: "), sg.Input(), sg.FileBrowse(key="-IN-")],[sg.Button("Submit")]]

###Building Window
window = sg.Window('My File Browser', layout, size=(600,150))
    
while True:
    event, values = window.read()
    if event == sg.WIN_CLOSED or event=="Exit":
        break
    elif event == "Submit":
        print(values["-IN-"])
        RawDairy = pd.read_excel(values["-IN-"], sheet_name=1)

In [ ]:
pip install seaborn

In [ ]:
pip install altair

In [ ]:
import seaborn as sns
import altair as alt 

titanic = sns.load_dataset("titanic")

alt.Chart(titanic).mark_bar().encode(
    alt.X('class'),
    y='count()'
)

In [ ]:
brush = alt.selection(type='interval')

points = alt.Chart(titanic).mark_point().encode(
    x='age:Q',
    y='fare:Q',
    color=alt.condition(brush, 'class:N', alt.value('lightgray'))
).add_selection(
    brush
)

bars = alt.Chart(titanic).mark_bar().encode(
    y='class:N',
    color='class:N',
    x = 'count(class):Q'
).transform_filter(
    brush
)

points & bars